<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/mapscripts.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaNbMWfmXlDUeeG_5c5_tgI4FQEKpfeoA&libraries=places&callback=initAutocomplete" async defer></script>

<script src="/js/mainscript.js"></script>
</body>
</html>