
<%- include('../partials/head.ejs')%> 

    <div class="ncontainer">
        <div class="successmobile">
            <div class="mobileordersummary">
                <div style="text-align: center; line-height: 35px; font-size: 19px; font-weight: bold;">Carrier Booked:</div>
                <div style="line-height: 15px; text-align: center; font-size: 12px;">Your request has been received. A member of our team will get in touch with you shortly.</div>
                <div class="thesummary">
                    <div style="text-align: center; font-weight: bold;">Order details</div>

                    <div>Pickup Point: <span class="pp"></span></div>
                    <div>Drop Point:&nbsp;&nbsp;&nbsp; <span class="dp"></span></div>
                    <div>Carrier Type: <span class="ct"></span></div>
                    <div>Fare:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="fare"></span></div>
                </div>
                <div class="gohome">Go Home</div>
            </div>

        </div>

        <input type='hidden' id="truckdata" value=" <%= controldata.truckData %> ">
        <div class="successnotif">
            Truck Booked

        </div>
        <div class="successnotif2">
        <div class="successaction">
            <div class="checkmak">
                <div style="color: #233254; font-size: 200px;"><i class="icon  ion-ios-checkmark "></i></div>
                <div class="sentaction"></div>
            </div>
        </div>
        </div>
        <div class="mobiletopstrip">
            <a href="/"><span class="minilogo"><img src="/img/logo.svg" alt=""></span></a>
            <div class="phonecontact">
                <div style="position:absolute;right:15px; padding-top:12px; font-size: 11px; color:#46C2D9;"><i class="icon ion-ios-telephone "></i>&nbsp;&nbsp;&nbsp;(+256) 781 641 834</div>
            </div>

        </div>
        <div class="ncontainerinner">
            <div class="sideB">
                <div class="top-bar">
                    <!-- Side B -->
                    <div class="fixer">
                        <nav id="navigation">
                            <ul>
                                <li><a href="#">SERVICES</a></li>
                                <li><a href="#">ABOUT</a></li>
                                <li class="selected"><a href="#">BOOK</a></li>
                                <li><a href="#">HELP</a></li>
                                <li><a href="#">BECOME A DRIVER</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="sideBcontent">
                    <div id="steps">
                        <form id="formEl">
                            <fieldset class="step">

                                <div class="headings">Shifting renters/movers.</div>
                                <div class="innertxt">Call us and let us know where from and where to and we shall send a carrier to help you shift.</div>
                                <div class="headings">Truck Scheduling.</div>
                                <div class="innertxt"> You can now schedule two or more trucks to help you in offloading and loading your export/import containers with Ncarrier.</div>
                                <div class="headings">Transportation of Stock and Deliveries.</div>
                                <div class="innertxt">As a shop retailer we are at your service to help you transport your new stock to your shop or during delivery to your clients.</div>

                            </fieldset>
                            <fieldset class="step">
                                <p>
                                    <div class="headings"> Who we are. </div>
                                    <div class="innertxt">Ncarrier is a service intended to ease accessibility to cargo transportation vehicles.</div>
                                    <div class="headings">Our Aim.</div>
                                    <div class="innertxt">To widen the market base by making it easy to access cargo transportation services with just a click of a button and the driver is on his way to the pick up point.</div>
                                    <div class="headings">Market Benefits.</div>
                                    <div class="innertxt">End User<br><br> 1. Price certainty and price indiscrimination<br> 2. Scheduled pickups anywhere for convenience.<br> 3. On demand access to truck services anytime.<br><br> Drivers

                                        <br>
                                        <br> 1. Widened market base<br> 2. Business management data that gives a digital footprint of their transactions which can be later used for load acquisition etc</div>
                                    <br>
                                    <div style="innertxt">
                                        <div class="headings">Follow Us</div>
                                        <div style="display:flex; ">
                                            <div style="margin: 10px;">
                                                <a href="https://www.facebook.com/NcarrierUG" target="_blank"><img src="/img/facebook.svg" width="35px"></a>
                                            </div>
                                            <div style="margin: 10px;">
                                                <a href="https://www.instagram.com/ncarrier_ug" target="_blank"><img src="/img/insta.svg" width="35px"></a>
                                            </div>
                                            <div style="margin: 10px;">
                                                <a href="https://www.twitter.com/NcarrierUG" target="_blank"><img src="/img/twitter.svg" width="35px"></a>
                                            </div>
                                        </div>
                                    </div>

                                    <br>
                                    <div style="margin-left: 15px;">View <a href="/terms" target="_blank"><strong>T&Cs</strong></a></div><br>

                                </p>
                                <input type="hidden" class="honeydp" value="">
                            </fieldset>
                            <fieldset class="step">
                                <p>
                                    <div class="headings2">CHOOSE YOUR OPTIONS.</div>

                                    <div class="innertxt2">

                                        <div style="color:red; margin-left: 15px;"><span style="font-weight: bold;">Note:</span> Carriers don't come with porters.</div>
                                        <div class="bookblock">
                                            <label for="pickup">Pickup Point:</label>
                                            <input type="text" id="pickup" name="pickup">

                                            <label for="droppoint">Drop Point:</label>
                                            <input type="text" id="dropoff" name="droppoint">

                                            <label for="pnum">Phone Number:</label>
                                            <input type="number" id="custnum" class="inputs" name="pnum">
                                            <div class="booknavwrapper">
                                                <label for="">Choose Type of Carrier:</label>

                                                <nav id="booknav">
                                                    <ul>
                                                        <li>
                                                            <div class="mini" data-cartype="mini">
                                                                <div class="capacity">0 - 500 kg</div>
                                                                <div class="carriertype">MINI</div>

                                                                <div class="mini-inner" style="padding-top: 15px;">
                                                                    <img src="/img/MiniTruck.svg" alt="">
                                                                </div>

                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="mini" data-cartype="small">
                                                                <div class="capacity">1 - 1.5 tons</div>
                                                                <div class="carriertype" style="padding-right: 5px;">SMALL</div>

                                                                <div class="mini-inner" style="padding-top: 15px;">
                                                                    <img src="/img/SmallTruck.svg" alt="">
                                                                </div>

                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="mini" data-cartype="medium">
                                                                <div class="capacity">2 - 3 tons</div>
                                                                <div class="carriertype" style=" padding-right:0px;">MEDIUM</div>

                                                                <div class="mini-inner" style="padding-top: 15px;">
                                                                    <img src="/img/MediumTruck.svg" alt="">
                                                                </div>

                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="mini" data-cartype="big">
                                                                <div class="capacity">4 - 7 tons</div>
                                                                <div class="carriertype" style="padding-left: 50px;  text-align: center">BIG</div>

                                                                <div class="mini-inner" style="padding-top: 14px;">
                                                                    <img src="/img/BigTruck.svg" alt="">
                                                                </div>

                                                            </div>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>





                                            <div class="moneybuttons">
                                                <div class="moneybtn">UGX <span class="px1">0</span> - <span class="px2">0</span></div>
                                                <div class="booktruck">BOOK NOW <i class="icon ion-android-arrow-forward "></i></div>
                                            </div>
                                        </div>
                                    </div>


                                </p>
                            </fieldset>
                            <fieldset class="step">
                                <p>
                                    <div class="innertxt">
                                        <div class="contentwrapper">
                                            <div style="height: 100px;">
                                                <div style="float: right;text-align: right; line-height: 25px; margin-right: 20px;">
                                                    <div style="font-weight: bold; color: black; font-size:16px;">Ncarrier UG</div> support@ncarrierug.com
                                                    <div style="font-weight: bold;">
                                                        <img src="/img/Hand.png" width="16px" height="auto" style="display:inline; margin-bottom: -10px;">
                                                        <img src="/img/sup.png" style="display:inline; margin-bottom: -2px;" width="12px" height="auto"> +256 781 641 834
                                                    </div>
                                                </div>
                                            </div>
                                            How can we be of assistance?
                                            <div class="headings">Report a Problem/ Send Feedback.</div>
                                            <div class="reportproblem">
                                                <div style="flex: 1;">
                                                    <label for="name">Name</label>
                                                    <input type="text" class="pinputs" id="rname" name="name">
                                                </div>
                                                <div style="flex: 1;">
                                                    <label for="phone">Phone</label>
                                                    <input type="number" class="pinputs" id="rnum" name="phone">
                                                </div>
                                            </div>
                                            <label for="fname">Email</label>
                                            <input type="text" class="pinputs" id="remail" name="email">
                                            <label for="message">Message</label>
                                            <textarea name="message" class="pinputs" id="message"></textarea>
                                            <div class="sendmsgbtn">Send message</div>
                                        </div>
                                    </div>
                                </p>
                            </fieldset>
                            <fieldset class="step">
                                <p>
                                    <div class="contentwrapper">


                                        <div class="headings"> Drive with Ncarrier </div>
                                        <div class="innertxt">
                                            Earn money with your truck using Ncarrier services.
                                            <div class="headinglasttab">Fill in the information below and we shall contact you shortly.</div>
                                            <label for="fname">First name</label>
                                            <input type="text" class="dinputs" id="fname" name="fname">
                                            <label for="lname">Last name</label>
                                            <input type="text" class="dinputs" id="lname" name="lname">
                                            <label for="pnum">Phone No.</label>
                                            <input type="number" class="dinputs" id="pnum" name="pnum">
                                            <label for="districts">City</label>
                                            <select name="districts" id="districts">
                                            <option value="Kampala">Kampala</option>
                                            <option value="Fort Portal">Fort Portal</option>
                                            <option value="Arua">Arua</option>
                                            <option value="Gulu">Gulu</option>
                                            <option value="Jinja">Jinja</option>
                                            <option value="Mbarara">Mbarara</option>
                                            <option value="Mbale">Mbale</option>
                                            <option value="Hoima">Hoima</option>
                                            <option value="Entebbe">Entebbe</option>
                                            <option value="Lira">Lira</option>
                                            <option value="Kabale">Kabale</option>
                                            <option value="Masaka">Masaka</option>
                                            <option value="Moroto">Moroto</option>
                                            <option value="Nakasongola">Nakasongola</option>
                                            <option value="Wakiso">Wakiso</option>
                                            <option value="Mukono">Mukono</option>
                                         </select>

                                            <div class="sendbtn">Send In Request</div>

                                        </div>

                                    </div>
                                </p>
                            </fieldset>
                        </form>
                    </div>

                </div>
                <div style="width: 100%; height: 110px; position: relative;">
                    <div class="bottomdivB"></div>
                </div>
            </div>
            <div class="sideA">



                <div class="sideawrapper">
                    <div class="successinstructions">
                        <div class="ordersummary">
                            <div style="text-align: center; line-height: 35px; font-size: 19px; font-weight: bold;">Carrier Booked:</div>
                            <div style="line-height: 15px; text-align: center; font-size: 12px;">Your request has been received. A member of our team will get in touch with you shortly.</div>
                            <div class="thesummary">
                                <div style="text-align: center; font-weight: bold;">Order details</div>

                                <div>Pickup Point: <span class="pp"></span></div>
                                <div>Drop Point:&nbsp;&nbsp;&nbsp; <span class="dp"></span></div>
                                <div>Carrier Type: <span class="ct"></span></div>
                                <div>Fare:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="fare"></span></div>
                            </div>
                            <div class="gohome">Go Home</div>
                        </div>
                    </div>


                    <div id="mapdiv">
                        <div id="map_canvas"></div>
                    </div>
                    <div class="top-bar">
                        <a href="/"><span class="logo"><img src="/img/logo.svg" alt=""></span></a>
                        <!-- Side A -->
                        <span class="phonecontact"><div style="position:absolute;left:-10px; padding-top:1px; font-size: 25px; color:#46C2D9;"><i class="icon ion-ios-telephone "></i></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(+256) 781 641 834</span>
                    </div>

                    <div class="tag-linebox">
                        <div>
                            <div class="nclogo"><img src="/img/Ncarrier.svg" alt=""></div>

                        </div>
                        <div class="purpose">
                            A service intended to ease accessibility to cargo transportation vehicles in Uganda</div>
                        <div class="bookbtn">Book Now &nbsp;&nbsp;<i class="icon ion-android-arrow-forward "></i></div>
                    </div>
                </div>

                <div class="bottomdiv">

                </div>

            </div>

        </div>

    </div>
    
<%- include('../partials/foot.ejs') %>
