
<%- include('../partials/head.ejs') %>


<div class="terms-container">

<div class="termstop-bar">
<a href="/"><span class="termslogo"><img src="/img/logo.svg" alt=""></span></a>

<span class="phonecontact"><div style="position:absolute;left:-10px; padding-top:1px; font-size: 25px; color:#46C2D9;"><i class="icon ion-ios-telephone "></i></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(+256) 781 641 834</span>

</div>
<div class="mobiletopstrip">
            <a href="https://ncarrierug.com"><span class="minilogo"><img src="/img/logo.png" alt=""></span></a>
            <div class="phonecontact">
                <div style="position:absolute;right:15px; padding-top:12px; font-size: 11px; color:#46C2D9;"><i class="icon ion-ios-telephone "></i>&nbsp;&nbsp;&nbsp;(+256) 781 641 834</div>
            </div>

        </div>

<div class="bottomdiv">

 </div>
<div style="text-align: center; line-height:40px; font-weight: bold; padding: 5px; font-size: 3rem;">
<br>
Terms and Conditions
</div>
<h3>General:</h3>
 
<p>
<ul>
<li>Any losses sustained during the transportation from point of loading to the final destination can be deducted against the transport invoice.</li>
  <li> In the event of theft from a truck by armed robbery, or any other person with firearms, the case will be immediately
 investigated in collaboration with local law enforcement.
  The driver will not be held responsible for such a loss arising 
  from armed attack until an investigation is complete and the case
   is closed.</li>
   </ul>
   </p>

<h3>Driver Responsibility: </h3>
<ul>
<li>Service Provider will transport 
goods to all designated areas as provided by the Client.  </li>
<li>Service Provider will be responsible for all fuel and maintenance of 
vehicles deployed for the above transportation.</li>
<li>Service Provider will properly secure and cover all goods being transported from any weather, 
road, or other hazardous conditions during transit.</li>
</ul>

<h3>Client Responsibility:</h3>
<ul>
<li>Client will be responsible for loading and offloading of goods.</li>
<li>Client will pay for any costs of transportation such as unforeseen road fees.</li> 
<li>Client will be responsible for all goods prior to pick up and upon delivery of goods.</li>
<li>Client will be responsible for inspecting goods upon delivery, prior to accepting delivery.</li>
<li>Client is to issue service fare immediately at the end of the drop off.</li>
</ul>
<h3>As Ncarrier:</h3>
We shall be able to provide as well as remain responsible for all
 personnel deemed necessary for the transportation of cargo. 
 All personnel will provide adequate documents that qualify them to be approved drivers in the industry. 

<h3>Penalty Clause:</h3>
Should delivery be delayed due to the driver's own misconduct or gross 
negligence, driver will be granted 2 hours to complete delivery.
 If the provider is unable to correct the issue within the allotted time
  the client will reserve the right to charge him/her for the delay at 
  discount of 5% of the transport invoice. Furthermore, Client will reserve 
  the right to hire another Provider to complete delivery of any delayed 
  cargo.
  <br>
  <br>
  
</div>
<div style="width: 100%; height: 110px; position: relative;">
<div class="bottomdivB"></div>
 </div>
</body>
</html>